{% extends "layout.html" %}
{% block content %}

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>
<div class="container">
    <div class="row">
        <div class="col-9">
            {% for post in posts %}
            <article class="media content-section">
                <img class="rounded-circle article-img" style="width: 38px;"
                    src="{{ url_for('static', filename='profile/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.datepost.strftime('%Y-%m-%d') }}</small>
                        <a class="mr-2" href="">{{ post.tagname.name }} </a>
                    </div>
                    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>

                </div>
            </article>

            {% endfor %}
        </div>
        <div class="col-3">
            {% for tag in tags %}
            <ul class="list">
                <li class="list-item" style="color:white;">{{tags.name}}</li>

            </ul>
            {%endfor%}
        </div>
    </div>

</div>
{% endblock content %}